<div class="raw-forms" resize-contents sync="true" margin="50">

<div class="content-form">

        <div class="row background-content">
            <div class="col col-35 border">
                <div class="row">
                    <div class="col header-title">
                        Vehicles Equipment
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label class="background-transparent tem item-input item-select">
                                <div class="input-label text-bold">
                                    Tamper No.
                                </div>
                                <select class="background-transparent" ng-model="ctrlForm4.form.tamper" ng-options="o as o.name for o in ctrlForm4.tamper_nos track by o.id"
                                        post-filled-form src-key="tamper" src-value="ctrlForm4.form.tamper" src-form="Form4">
                                </select>
                            </label>
                            <label class="background-transparent item item-input item-select">
                                <div class="input-label text-bold">
                                    Regulator No.
                                </div>
                                <select class="background-transparent" ng-model="ctrlForm4.form.regulator" ng-options="o as o.name for o in ctrlForm4.regulator_nos track by o.id"
                                        post-filled-form src-key="regulator" src-value="ctrlForm4.form.regulator" src-form="Form4"></select>
                            </label>
                            <label class="background-transparent item item-input item-select">
                                <div class="input-label text-bold">
                                    Stabiliser No.
                                </div>
                                <select class="background-transparent"ng-model="ctrlForm4.form.stabiliser" ng-options="o as o.name for o in ctrlForm4.stabiliser_nos track by o.id"
                                        post-filled-form src-key="stabiliser" src-value="ctrlForm4.form.stabiliser" src-form="Form4"></select>
                            </label>
                            <label class="background-transparent item item-input item-select">
                                <div class="input-label text-bold">
                                    Low loader No.
                                </div>
                                <select class="background-transparent" ng-model="ctrlForm4.form.low_loader" ng-options="o as o.name for o in ctrlForm4.low_loader_nos track by o.id"
                                        post-filled-form src-key="low_loader" src-value="ctrlForm4.form.low_loader" src-form="Form4"></select>
                            </label>
                            <label class="background-transparent item item-input item-select">
                                <div class="input-label text-bold">
                                    Gopher No.
                                </div>
                                <select class="background-transparent" ng-model="ctrlForm4.form.gopher" ng-options="o as o.name for o in ctrlForm4.gopher_nos track by o.id"
                                post-filled-form src-key="gopher" src-value="ctrlForm4.form.gopher" src-form="Form4"></select>
                            </label>
                            <label class="background-transparent item item-input item-select">
                                <div class="input-label text-bold">
                                    Rail Grinder No.
                                </div>
                                <select class="background-transparent" ng-model="ctrlForm4.form.rail_grinder" ng-options="o as o.name for o in ctrlForm4.rail_grinder_nos track by o.id"
                                        post-filled-form src-key="rail_grinder" src-value="ctrlForm4.form.rail_grinder" src-form="Form4"></select>
                            </label>
                            <label class="background-transparent item item-input item-select">
                                <div class="input-label text-bold">
                                    Ballast Cleaner No.
                                </div>
                                <select class="background-transparent" ng-model="ctrlForm4.form.ballast_cleaner" ng-options="o as o.name for o in ctrlForm4.ballast_cleaner_nos track by o.id"
                                        post-filled-form src-key="ballast_cleaner" src-value="ctrlForm4.form.ballast_cleaner" src-form="Form4"></select>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-5">

                        <a ng-click="ctrlForm4.form.additional_machinery=!ctrlForm4.form.additional_machinery;"
                           post-filled-form src-key="additional_machinery" src-value="ctrlForm4.form.additional_machinery" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.additional_machinery,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.additional_machinery}"></i></a>


                    </div>
                    <div class="col col-35 margin-left5 margin-top3">
                        Additional Machinery
                    </div>
                    <div class="col margin-top_5" ng-if="ctrlForm4.form.additional_machinery">
                        <input class="background-transparent" type="text" placeholder="Additional Machinery Details" ng-model="ctrlForm4.form.additional_machinery_details"
                               post-filled-form src-key="additional_machinery_details" src-value="ctrlForm4.form.additional_machinery_details" src-form="Form4" >
                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.additional_machinery_details"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col">
                        <span class="header-title">Location(s) At or Between</span> <br/>
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label class="item item-input item-select background-transparent ">
                                <div class="input-label margin-left_15 text-bold">
                                    Line
                                </div>
                                <select  class="background-transparent" ng-model="ctrlForm4.form.f4_location_between_at_line" ng-options="o as o.name for o in ctrlForm4.lines track by o.id"
                                         post-filled-form  src-key="f4_location_between_at_line" src-value="ctrlForm4.form.f4_location_between_at_line" src-form="Form4" >
                                </select>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span class="text-bold">From</span>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Station
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Station" ng-model="ctrlForm4.form.f4_location_between_at_from_station"
                                       post-filled-form  src-key="f4_location_between_at_from_station" src-value="ctrlForm4.form.f4_location_between_at_from_station" src-form="Form4" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.f4_location_between_at_from_station"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Signal
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Signal" ng-model="ctrlForm4.form.f4_location_between_at_from_signals"
                                       post-filled-form  src-key="f4_location_between_at_from_signals" src-value="ctrlForm4.form.f4_location_between_at_from_signals" src-form="Form4" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.f4_location_between_at_from_signals"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Metres
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Metres" ng-model="ctrlForm4.form.f4_location_between_at_from_metres"
                                       post-filled-form src-key="f4_location_between_at_from_metres" src-value="ctrlForm4.form.f4_location_between_at_from_metres" src-form="Form4" >
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Points
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Points" ng-model="ctrlForm4.form.f4_location_between_at_from_points"
                                       post-filled-form src-key="f4_location_between_at_from_points" src-value="ctrlForm4.form.f4_location_between_at_from_points" src-form="Form4" >
                            </div>

                        </div>

                    </div>

                    <div class="col">
                        <span class="text-bold">To</span>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Station
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Station" ng-model="ctrlForm4.form.f4_location_between_at_to_station"
                                       post-filled-form   src-key="f4_location_between_at_to_station" src-value="ctrlForm4.form.f4_location_between_at_to_station" src-form="Form4" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.f4_location_between_at_to_station"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Signal
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Signal" ng-model="ctrlForm4.form.f4_location_between_at_to_signals"
                                       post-filled-form  src-key="f4_location_between_at_to_signals" src-value="ctrlForm4.form.f4_location_between_at_to_signals" src-form="Form4" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.f4_location_between_at_to_signals"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Metres
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Metres" ng-model="ctrlForm4.form.f4_location_between_at_to_metres"
                                       post-filled-form src-key="f4_location_between_at_to_metres" src-value="ctrlForm4.form.f4_location_between_at_to_metres" src-form="Form4" >
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Points
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Points" ng-model="ctrlForm4.form.f4_location_between_at_to_points"
                                       post-filled-form src-key="f4_location_between_at_to_points" src-value="ctrlForm4.form.f4_location_between_at_to_points" src-form="Form4" >
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title ">
                       Working in Track Warrant Areas
                    </div>
                    <div class="col">
                        <a ng-click="ctrlForm4.form.work_tw_areas=!ctrlForm4.form.work_tw_areas;"
                           post-filled-form src-key="work_tw_areas" src-value="ctrlForm4.form.work_tw_areas" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.work_tw_areas,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.work_tw_areas}"></i></a>

                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row" ng-if="ctrlForm4.form.work_tw_areas">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                Protection being used
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-5">
                                <a ng-click="ctrlForm4.form.work_tw_areas_csp=!ctrlForm4.form.work_tw_areas_csp;ctrlForm4.form.work_tw_areas_tw_control_mis88=false;"
                                   post-filled-form src-key="work_tw_areas_csp" src-value="ctrlForm4.form.work_tw_areas_csp" src-form="Form4" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.work_tw_areas_csp,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.work_tw_areas_csp}"></i></a>

                            </div>
                            <div class="col">
                                Compulsory Stop Protection
                            </div>
                            <div class="col col-5">
                                <a ng-click="ctrlForm4.form.work_tw_areas_tw_control_mis88=!ctrlForm4.form.work_tw_areas_tw_control_mis88;ctrlForm4.form.work_tw_areas_csp=false;"
                                   post-filled-form src-key="work_tw_areas_tw_control_mis88" src-value="ctrlForm4.form.work_tw_areas_tw_control_mis88" src-form="Form4" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.work_tw_areas_tw_control_mis88,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.work_tw_areas_tw_control_mis88}"></i></a>

                            </div>
                            <div class="col">
                                Track Warrant Control (Mis 88)
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title ">
                        Working in Single Line Automatic Areas
                    </div>
                    <div class="col">
                        <a ng-click="ctrlForm4.form.work_singleline_automatic_areas=!ctrlForm4.form.work_singleline_automatic_areas;"
                           post-filled-form src-key="work_singleline_automatic_areas" src-value="ctrlForm4.form.work_singleline_automatic_areas" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.work_singleline_automatic_areas,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.work_singleline_automatic_areas}"></i></a>

                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row" ng-if="ctrlForm4.form.work_singleline_automatic_areas">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                Rotation - Stillwater only, Protection being used
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-5">
                                <a ng-click="ctrlForm4.form.work_singleline_automatic_areas_csp=!ctrlForm4.form.work_singleline_automatic_areas_csp;ctrlForm4.form.work_singleline_automatic_areas_track_time_permit_mis60=false;"
                                   post-filled-form src-key="work_singleline_automatic_areas_csp" src-value="ctrlForm4.form.work_singleline_automatic_areas_csp" src-form="Form4" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.work_singleline_automatic_areas_csp,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.work_singleline_automatic_areas_csp}"></i></a>

                            </div>
                            <div class="col">
                                Compulsory Stop Protection
                            </div>
                            <div class="col col-5">
                                <a ng-click="ctrlForm4.form.work_singleline_automatic_areas_track_time_permit_mis60=!ctrlForm4.form.work_singleline_automatic_areas_track_time_permit_mis60;ctrlForm4.form.work_singleline_automatic_areas_csp=false;"
                                   post-filled-form src-key="work_singleline_automatic_areas_track_time_permit_mis60" src-value="ctrlForm4.form.work_singleline_automatic_areas_track_time_permit_mis60" src-form="Form4" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.work_singleline_automatic_areas_track_time_permit_mis60,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.work_singleline_automatic_areas_track_time_permit_mis60}"></i></a>

                            </div>
                            <div class="col">
                                Track Warrant Control (Mis 60)
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35 header-title margin-top10">
                Travelling
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col col-15 text-bold">
                        From
                    </div>
                    <div class="col col-25">
                        <input type="text" class="item-input-text background-transparent" placeholder="Departure From" ng-model="ctrlForm4.form.travelling_departure_from"
                               post-filled-form src-key="travelling_departure_from" src-value="ctrlForm4.form.travelling_departure_from" src-form="Form4" >
                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.travelling_departure_from"></div>

                    </div>
                    <div class="col col-15 text-bold">
                        To
                    </div>
                    <div class="col col-25">
                        <input type="text" class="item-input-text background-transparent" placeholder="Departure To" ng-model="ctrlForm4.form.travelling_departure_to"
                               post-filled-form src-key="travelling_departure_to" src-value="ctrlForm4.form.travelling_departure_to" src-form="Form4" >
                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.travelling_departure_to"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-28 margin-top5 text-bold">
                        Departure Time
                    </div>
                    <div class="col">
                        <div custom-time time="ctrlForm4.form.travelling_departure_hr" key="travelling_departure_hr" form="Form4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-15 text-bold">
                        From
                    </div>
                    <div class="col col-25">
                        <input type="text" class="item-input-text background-transparent" placeholder="Return From" ng-model="ctrlForm4.form.travelling_return_from"
                               post-filled-form src-key="travelling_return_from" src-value="ctrlForm4.form.travelling_return_from" src-form="Form4" >
                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.travelling_return_from"></div>

                    </div>
                    <div class="col col-15 text-bold">
                        To
                    </div>
                    <div class="col col-25">
                        <input type="text" class="item-input-text background-transparent" placeholder="Return To" ng-model="ctrlForm4.form.travelling_return_to"
                               post-filled-form src-key="travelling_return_to" src-value="ctrlForm4.form.travelling_return_to" src-form="Form4" >
                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.travelling_return_to"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-28 margin-top5 text-bold">
                        Departure Time
                    </div>
                    <div class="col">
                        <div custom-time time="ctrlForm4.form.travelling_return_hr" key="travelling_return_hr" form="Form4"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35 header-title">
                Working enroute Rule 914(d)
            </div>
            <div class="col col-65 ">
                <div class="row">
                    <div class="col">
                        If working enroute show metrages
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="background-transparent" placeholder="Working enroute" ng-model="ctrlForm4.form.work_enroute"
                               post-filled-form src-key="work_enroute" src-value="ctrlForm4.form.work_enroute" src-form="Form4">
                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.work_enroute"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35 header-title margin-top10">
                MTMV Clearing for trains / Stabling
            </div>
            <div class="col col-65 border border-bottom-none border-left-none">
                <div class="row">
                    <div class="col col-28 text-bold">
                        Name Location
                    </div>
                    <div class="col">
                        <input type="text" class="item-input-text background-transparent"  placeholder="Name Location"   ng-model="ctrlForm4.form.mtmv_location"
                               post-filled-form src-key="mtmv_location" src-value="ctrlForm4.form.mtmv_location" src-form="Form4">
                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.mtmv_location"></div>
                    </div>
                </div>
                <div class="row" ng-if="ctrlForm4.form.mtmv_location.trim() !== ''">
                    <div class="col">
                        <div class="row">
                            <div class="col col-15">
                                <a ng-click="ctrlForm4.form.mtmv_station=!ctrlForm4.form.mtmv_station;
                    ctrlForm4.form.mtmv_main_line_siding=false;
                    ctrlForm4.form.mtmv_metrage=false;"
                                   post-filled-form src-key="mtmv_station" src-value="ctrlForm4.form.mtmv_station" src-form="Form4" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.mtmv_station,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.mtmv_station}"></i></a>

                            </div>
                            <div class="col col-15 margin-top3">
                                Station
                            </div>
                            <div class="col col-15">
                                <a ng-click="ctrlForm4.form.mtmv_main_line_siding=!ctrlForm4.form.mtmv_main_line_siding;
                    ctrlForm4.form.mtmv_station=false;
                    ctrlForm4.form.mtmv_metrage=false;"
                                   post-filled-form src-key="mtmv_main_line_siding" src-value="ctrlForm4.form.mtmv_main_line_siding" src-form="Form4" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.mtmv_main_line_siding,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.mtmv_main_line_siding}"></i></a>

                            </div>
                            <div class="col col-30 margin-top3">
                                Main Line Siding
                            </div>
                            <div class="col col-15">
                                <a ng-click="ctrlForm4.form.mtmv_metrage=!ctrlForm4.form.mtmv_metrage;
                    ctrlForm4.form.mtmv_station=false;
                    ctrlForm4.form.mtmv_main_line_siding=false;"
                                   post-filled-form src-key="mtmv_metrage" src-value="ctrlForm4.form.mtmv_metrage" src-form="Form4" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.mtmv_metrage,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.mtmv_metrage}"></i></a>

                            </div>
                            <div class="col col-15 margin-top3">
                                Metrage
                            </div>

                        </div>
                        <div class="row">
                            <div ng-if="ctrlForm4.form.mtmv_station" class="col">
                                <div class="row">
                                    <div class="col text-bold">
                                        Station Name
                                    </div>
                                    <div class="col">
                                        <input type="text" class="item-input-text background-transparent" placeholder="Station Name" ng-model="ctrlForm4.form.mtmv_station_name"
                                               post-filled-form src-key="mtmv_station_name" src-value="ctrlForm4.form.mtmv_station_name" src-form="Form4" >
                                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.mtmv_station_name"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-15">
                                        <a ng-click="ctrlForm4.form.mtmv_station_loop=!ctrlForm4.form.mtmv_station_loop; ctrlForm4.form.mtmv_station_yard=false;"
                                           post-filled-form src-key="mtmv_station_loop" src-value="ctrlForm4.form.mtmv_station_loop" src-form="Form4" >
                                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.mtmv_station_loop,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.mtmv_station_loop}"></i></a>

                                    </div>
                                    <div class="col col-15 margin-top3">
                                        Loop
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-15">
                                        <a ng-click="ctrlForm4.form.mtmv_station_yard=!ctrlForm4.form.mtmv_station_yard; ctrlForm4.form.mtmv_station_loop=false;"
                                           post-filled-form src-key="mtmv_station_yard" src-value="ctrlForm4.form.mtmv_station_yard" src-form="Form4" >
                                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.mtmv_station_yard,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.mtmv_station_yard}"></i></a>

                                    </div>
                                    <div class="col col-15 margin-top3">
                                        Yard (Siding)
                                    </div>
                                </div>

                            </div>
                            <div ng-if="ctrlForm4.form.mtmv_main_line_siding" class="col">
                                <div class="row">
                                    <div class="col text-bold">
                                        Siding Name
                                    </div>
                                    <div class="col">
                                        <input type="text" class="item-input-text background-transparent" placeholder="Siding Name" ng-model="ctrlForm4.form.mtmv_main_line_siding_name"
                                               post-filled-form src-key="mtmv_main_line_siding_name" src-value="ctrlForm4.form.mtmv_main_line_siding_name" src-form="Form4" >
                                        <div ng-hide="true" capitalize first-character="true" src-item="ctrlForm4.form.mtmv_main_line_siding_name"></div>
                                    </div>
                                </div>


                            </div>
                            <div ng-if="ctrlForm4.form.mtmv_metrage" class="col">
                                <div class="row">
                                    <div class="col text-bold">
                                        Linear Reference (kms)
                                    </div>
                                    <div class="col">
                                        <input type="number"  min="0" class="item-input-text background-transparent" placeholder="Linear Reference(kms)" ng-model="ctrlForm4.form.mtmv_metrage_linear_reference"
                                               post-filled-form src-key="mtmv_metrage_linear_reference" src-value="ctrlForm4.form.mtmv_metrage_linear_reference" src-form="Form4" >
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35 ">
                <div class="row">
                    <div class="col margin-top10 header-title">
                       Other Requirements
                    </div>
                </div>
            </div>
            <div class="col col-65 ">
                <div class="row">
                    <div class="col col-5">
                        <a ng-click="ctrlForm4.form.need_trains_cancelled=!ctrlForm4.form.need_trains_cancelled;"
                           post-filled-form src-key="need_trains_cancelled" src-value="ctrlForm4.form.need_trains_cancelled" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.need_trains_cancelled,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.need_trains_cancelled}"></i></a>

                    </div>
                    <div class="col margin-top3">
                        Do you need trains cancelled
                    </div>
                </div>
            </div>
        </div>

        <div class="row background-content">
            <div class="col">
                <div class="row">
                    <div class="col margin-top10 header-title">
                        Signaller Required
                    </div>
                </div>
            </div>
            <div class="col col-65 border border-bottom-none border-left-none">
                <div class="row">
                    <div class="col">
                        Personnel required to operate signals.
                    </div>
                </div>
                <div class="row">
                    <div class="col col-5">
                        <a ng-click="ctrlForm4.form.signaller_pukekohe=!ctrlForm4.form.signaller_pukekohe;
                    ctrlForm4.form.signaller_plimmerton=false;
                    ctrlForm4.form.signaller_tawa=false;"
                           post-filled-form src-key="signaller_pukekohe" src-value="ctrlForm4.form.signaller_pukekohe" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.signaller_pukekohe,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.signaller_pukekohe}"></i></a>

                    </div>
                    <div class="col col-15 margin-top3">
                        Pukekohe
                    </div>
                    <div class="col col-5">
                        <a ng-click="ctrlForm4.form.signaller_plimmerton=!ctrlForm4.form.signaller_plimmerton;
                    ctrlForm4.form.signaller_pukekohe=false;
                    ctrlForm4.form.signaller_tawa=false;"
                           post-filled-form src-key="signaller_plimmerton" src-value="ctrlForm4.form.signaller_plimmerton" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.signaller_plimmerton,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.signaller_plimmerton}"></i></a>

                    </div>
                    <div class="col col-15 margin-top3">
                        Plimmerton
                    </div>
                    <div class="col col-5">
                        <a ng-click="ctrlForm4.form.signaller_tawa=!ctrlForm4.form.signaller_tawa;
                    ctrlForm4.form.signaller_pukekohe=false;
                    ctrlForm4.form.signaller_plimmerton=false;"
                           post-filled-form src-key="signaller_tawa" src-value="ctrlForm4.form.signaller_tawa" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.signaller_tawa,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.signaller_tawa}"></i></a>

                    </div>
                    <div class="col col-15 margin-top3">
                        Tawa
                    </div>
                </div>

            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col margin-top10 header-title">
                        Level Crossings on Manual Control
                    </div>
                </div>
            </div>
            <div class="col col-65 border border-bottom-none border-left-none">
                <div class="row">
                    <div class="col col-28">
                        Personnel arrangements to be made by applicant
                    </div>
                    <div class="col col-5">
                        <a ng-click="ctrlForm4.form.lca_manual_operation=!ctrlForm4.form.lca_manual_operation; "
                           post-filled-form src-key="lca_manual_operation" src-value="ctrlForm4.form.lca_manual_operation" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.lca_manual_operation,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.lca_manual_operation}"></i></a>

                    </div>
                    <div class="col col-15 margin-top3">
                        Yes
                    </div>
                </div>
            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col margin-top10 header-title">
                       Do you need the Overhead Power <br/>Cut Off ?
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col col-5">
                        <a ng-click="ctrlForm4.form.need_overhead_power_cutoff=!ctrlForm4.form.need_overhead_power_cutoff;
                        ctrlForm4.validateForm(true,ctrlForm4.form.need_overhead_power_cutoff,'traction_personnel_advised-Form6-8');"
                           post-filled-form src-key="need_overhead_power_cutoff" src-value="ctrlForm4.form.need_overhead_power_cutoff" src-form="Form4" >
                            <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlForm4.form.need_overhead_power_cutoff,'ion ion-ios-circle-outline uncheck-mark':!ctrlForm4.form.need_overhead_power_cutoff}"></i></a>

                    </div>
                    <div class="col margin-top3">
                        Traction Personnel advised. <br/>
                        Traction Form6 -DC/7 or 8-AC must accompany this form.
                    </div>
                </div>
                <div class="row" ng-if="ctrlForm4.form.need_overhead_power_cutoff">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a ng-click="ctrlForms.showForm('Form6',false,false)">
                                    <span class="text-bold"><u>Form6</u></span>
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-if="ctrlForms.tractionform6">
                            <div class="col">
                                <a ng-click="ctrlForms.removeform('Form6')">
                                    <span class="text-bold margin-left15"> <i class="ion ion-close _error"></i></span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a ng-click="ctrlForms.showForm('Form7',false,false)">
                                    <span class="text-bold"><u>Form7</u></span>
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-if="ctrlForms.tractionform7">
                            <div class="col">
                                <a ng-click="ctrlForms.removeform('Form7')">
                                    <span class="text-bold margin-left15"> <i class="ion ion-close _error"></i></span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a ng-click="ctrlForms.showForm('Form8',false,false)">
                                    <span class="text-bold"><u>Form8</u></span>
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-if="ctrlForms.tractionform8">
                            <div class="col">
                                <a ng-click="ctrlForms.removeform('Form8')">
                                    <span class="text-bold margin-left15"> <i class="ion ion-close _error"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title">
                        Person in Charge and Contact Number
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col col-25 margin-top10 text-bold">
                        Person Name
                    </div>
                    <div class="col margin-top3">
                        <input   class="background-transparent" type="text"  placeholder="Person Name"  ng-model="ctrlForm4.form.person_in_charge_name"
                                post-filled-form src-key="person_in_charge_name" src-value="ctrlForm4.form.person_in_charge_name" src-form="Form4" >
                        <div ng-hide="true" capitalize first-character-word="true" src-item="ctrlForm4.form.person_in_charge_name"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col col-25 margin-top10 text-bold">
                        Contact Number
                    </div>
                    <div class="col margin-top3">
                        <input   class="background-transparent" type="text"  placeholder="Contact Number"  ng-model="ctrlForm4.form.person_in_charge_contact_no"
                                post-filled-form src-key="person_in_charge_contact_no" src-value="ctrlForm4.form.person_in_charge_contact_no" src-form="Form4" >
                    </div>

                </div>


            </div>
        </div>

    </div>

</div>
