$font_Roboto_regular : "Roboto-regular";
$font_Roboto_light : "Roboto-light";
$font_Roboto_bold : "Roboto-bold";


$red01: #A91D46;
$red02: #E41C39;
$red03: #ac2925;

$white01: #ECF0F1;
$white02: #ffffff;
$white03: #f4f4f4;

$grey01: #D3D2D2;
$grey02: #eee;
$grey03: #777;
$grey04: #848484;
$grey05: #C8C8C8;
$grey06: #686868;
$grey07: #838383;
$grey08: #C8C6C6;
$grey09: #f9f9f9;

$green01: #218E27;
$green02: #19AD51;


$yellow01: #F7A51C;
$yellow02: #FFFF8C;

$black: #000000;

$blue01: #0599C6;
$blue02: #C1ECFA;

$orange01: #CD731E;

$pink01: #FDD7E4;


