<div class="raw-forms" resize-contents sync="true" margin="50">
    <div class="content-form">

        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title">
                        Reference No.
                    </div>
                </div>
            </div>
            <div class="col col-65 ">
                <input  class="margin-top5 background-transparent" type="number"  placeholder="Reference No."  ng-model="ctrlOverview.form.reference_no"
                        post-filled-form src-key="reference_no"   src-value="ctrlOverview.form.reference_no" src-form="Form1" >
            </div>
        </div>

        <div class="row">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title">
                        Person Filling out form: Name and Contact Number:
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col col-25 margin-top10 text-bold">
                        Person Name
                    </div>
                    <div class="col margin-top3">
                        <input  readonly class="background-transparent" type="text"  placeholder="Person Name"  ng-model="ctrlOverview.form.person_name"
                                post-filled-form src-key="person_name" src-value="ctrlOverview.form.person_name" src-form="Form1"  pre-filled="true">
                    </div>

                </div>
                <div class="row">
                    <div class="col col-25 margin-top10 text-bold">
                        Contact Number
                    </div>
                    <div class="col margin-top3">
                        <input  readonly class="background-transparent" type="text"  placeholder="Contact Number"  ng-model="ctrlOverview.form.person_contact_no"
                                post-filled-form src-key="person_contact_no" src-value="ctrlOverview.form.person_contact_no" src-form="Form1"  pre-filled="true">
                    </div>

                </div>


            </div>
        </div>



        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title">
                        Rail Protection Officer/s name, contact number and duty hours:
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col col-25 margin-top10 text-bold">
                        Officer Name
                    </div>
                    <div class="col margin-top3">
                        <input  readonly class="background-transparent" type="text"  placeholder="Officer Name"  ng-model="ctrlOverview.form.officer_name"
                                post-filled-form src-key="officer_name" src-value="ctrlOverview.form.officer_name" src-form="Form1"  pre-filled="true">
                    </div>

                </div>
                <div class="row">
                    <div class="col col-25 margin-top10 text-bold">
                        Contact Number
                    </div>
                    <div class="col margin-top3">
                        <input  readonly class="background-transparent" type="text"  placeholder="Contact Number"  ng-model="ctrlOverview.form.officer_contact_no"
                                post-filled-form src-key="officer_contact_no" src-value="ctrlOverview.form.officer_contact_no" src-form="Form1"  pre-filled="true">
                    </div>

                </div>
                <div class="row">
                    <div class="col col-25 margin-top10 text-bold">
                        Duty Hours
                    </div>
                    <div class="col margin-top3">
                        <input  readonly class="background-transparent" type="text"  placeholder="Duty Hours"  ng-model="ctrlOverview.form.officer_duty_hr"
                                post-filled-form src-key="officer_duty_hr" src-value="ctrlOverview.form.officer_duty_hr" src-form="Form1"  pre-filled="true">
                    </div>

                </div>
            </div>
        </div>



        <div class="row">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title">
                        Day(s) & Date(s):
                    </div>
                </div>
                <div class="row">
                    <div class="col margin-top10">
                        <div class="row">
                            <div class="col col-15 margin-left15">
                                <a ng-click="ctrlOverview.form.days_dates_each=!ctrlOverview.form.days_dates_each;ctrlOverview.form.days_dates_continuous=false;"
                                   post-filled-form  src-key="days_dates_each" src-value="ctrlOverview.form.days_dates_each" src-form="Form1" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlOverview.form.days_dates_each,'ion ion-ios-circle-outline uncheck-mark':!ctrlOverview.form.days_dates_each}"></i></a>

                            </div>
                            <div class="col col-30  margin-top3">
                                Each Day
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-15 margin-left15">
                                <a ng-click="ctrlOverview.form.days_dates_continuous=!ctrlOverview.form.days_dates_continuous;ctrlOverview.form.days_dates_each=false;"
                                   post-filled-form   src-key="days_dates_continuous" src-value="ctrlOverview.form.days_dates_continuous" src-form="Form1" >
                                    <i ng-class="{'ion ion-ios-checkmark check-mark':ctrlOverview.form.days_dates_continuous,'ion ion-ios-circle-outline uncheck-mark':!ctrlOverview.form.days_dates_continuous}"></i></a>

                            </div>
                            <div class="col col-30  margin-top3">
                                Continuous
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col col-65">
                <div class="row" ng-if="ctrlOverview.form.days_dates_each || ctrlOverview.form.days_dates_continuous">
                    <div class="col">
                        <div class="row">
                            <div class="col margin-top5 text-bold">
                                From
                            </div>
                            <div class="col margin-top5 text-bold">
                                To
                            </div>
                            <div class="col margin-top5">
                                <i class="ion ion-ios-plus icon-action align-right" ng-click="ctrlOverview.newDaysDates()"></i>
                            </div>
                        </div>
                        <div class="row" ng-repeat="o in ctrlOverview.form.days_dates">
                        <div class="col col">
                                <div class="row">
                                    <div class="col margin-top_5">
                                        <input type="date" class="background-transparent date-dotted-border " ng-model="o.from"
                                               post-filled-form  src-key="days_dates" src-value="ctrlOverview.form.days_dates" child-key="{{$index}}_from" src-form="Form1">
                                    </div>
                                </div>
                            </div>
                            <div class="col col">
                                <div class="row">
                                    <div class="col margin-top_5">
                                        <input type="date" class="background-transparent date-dotted-border" ng-model="o.to"
                                               post-filled-form  src-key="days_dates" src-value="ctrlOverview.form.days_dates"  child-key="{{$index}}_to" src-form="Form1">
                                    </div>
                                </div>
                            </div>

                            <div class="col  margin-top10">
                                <i class="ion ion-ios-minus icon-action align-right" ng-click="ctrlOverview.removeDaysDates($index)"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col">
                        <span class="header-title">Work Site Hours:</span> <br/>
                        (do not include travelling time)
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col col-15 margin-top10 text-bold">
                        From
                    </div>
                    <div class="col col-30 margin-top3">
                        <div custom-time time="ctrlOverview.form.worksite_from_hr" key="worksite_from_hr" form="Form1"></div>
                    </div>
                    <div class="col col-15 margin-top10 text-align-right text-bold">
                        To
                    </div>
                    <div class="col col-30 margin-top3">
                        <div custom-time time="ctrlOverview.form.worksite_to_hr" key="worksite_to_hr" form="Form1"></div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col col-35">
                <div class="row">
                    <div class="col">
                        <span class="header-title">Protected Work Area:</span> <br/>
                        Write the metrages/ Signals/ Stations. <br/>
                        Between stations / Within station limits
                    </div>
                </div>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label class="item item-input item-select background-transparent ">
                                <div class="input-label margin-left_15 text-bold">
                                    Line
                                </div>
                                <select  class="background-transparent" ng-model="ctrlOverview.form.pa_line" ng-options="o as o.name for o in ctrlOverview.lines track by o.id"
                                         post-filled-form  src-key="pa_line" src-value="ctrlOverview.form.pa_line" src-form="Form1" >
                                </select>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <span class="text-bold">From</span>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Station
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Station" ng-model="ctrlOverview.form.pa_from_station"
                                       post-filled-form  src-key="pa_from_station" src-value="ctrlOverview.form.pa_from_station" src-form="Form1" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlOverview.form.pa_from_station"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Signal
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Signal" ng-model="ctrlOverview.form.pa_from_signals"
                                       post-filled-form  src-key="pa_from_signals" src-value="ctrlOverview.form.pa_from_signals" src-form="Form1" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlOverview.form.pa_from_signals"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Metres
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Metres" ng-model="ctrlOverview.form.pa_from_metres"
                                       post-filled-form src-key="pa_from_metres" src-value="ctrlOverview.form.pa_from_metres" src-form="Form1" >
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Points
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Points" ng-model="ctrlOverview.form.pa_from_points"
                                       post-filled-form src-key="pa_from_points" src-value="ctrlOverview.form.pa_from_points" src-form="Form1" >
                            </div>

                        </div>

                        <div class="row">
                            <div class="col col-30 text-bold">
                                Stn
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Stn" ng-model="ctrlOverview.form.pa_from_stn"
                                       post-filled-form  src-key="pa_from_stn" src-value="ctrlOverview.form.pa_from_stn" src-form="Form1" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlOverview.form.pa_from_stn"></div>
                            </div>

                        </div>


                    </div>

                    <div class="col">
                        <span class="text-bold">To</span>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Station
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Station" ng-model="ctrlOverview.form.pa_to_station"
                                       post-filled-form   src-key="pa_to_station" src-value="ctrlOverview.form.pa_to_station" src-form="Form1" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlOverview.form.pa_to_station"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Signal
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Signal" ng-model="ctrlOverview.form.pa_to_signals"
                                       post-filled-form  src-key="pa_to_signals" src-value="ctrlOverview.form.pa_to_signals" src-form="Form1" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlOverview.form.pa_to_signals"></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Metres
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Metres" ng-model="ctrlOverview.form.pa_to_metres"
                                       post-filled-form src-key="pa_to_metres" src-value="ctrlOverview.form.pa_to_metres" src-form="Form1" >
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-30 text-bold">
                                Points
                            </div>
                            <div class="col">
                                <input type="number" step="any" min="0" class="item-input-text background-transparent" placeholder="Points" ng-model="ctrlOverview.form.pa_to_points"
                                       post-filled-form src-key="pa_to_points" src-value="ctrlOverview.form.pa_to_points" src-form="Form1" >
                            </div>

                        </div>

                        <div class="row">
                            <div class="col col-30 text-bold">
                                Stn
                            </div>
                            <div class="col">
                                <input type="text" class="item-input-text background-transparent" placeholder="Stn" ng-model="ctrlOverview.form.pa_to_stn"
                                       post-filled-form    src-key="pa_to_stn" src-value="ctrlOverview.form.pa_to_stn" src-form="Form1" >
                                <div ng-hide="true" capitalize first-character="true" src-item="ctrlOverview.form.pa_to_stn"></div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
        </div>


        <div class="row background-content">
            <div class="col col-35">
                <div class="row">
                    <div class="col header-title">
                        Description of Work:
                    </div>
                </div>
            </div>
            <div class="col col-65 margin-top10">
                <textarea  placeholder="Description of Work"  class="background-transparent" ng-model="ctrlOverview.form.description_work" rows="10"
                        post-filled-form src-key="description_work" src-value="ctrlOverview.form.description_work" src-form="Form1" >
                    </textarea>
                <div ng-hide="true" capitalize first-character="true" src-item="ctrlOverview.form.description_work"></div>
            </div>
        </div>









    </div>

</div>


