<div class="time">
    <div class="col-time">
         <input  id="{{form}}_{{key}}_hour" class="background-transparent text-align-right" type="number" placeholder="H." ng-model="hour"  min="0" max="23" ng-maxlength="2">
    </div>
    <div class="col-time margin-top8 text-bold">:</div>
     <div class="col-time">
          <input id="{{form}}_{{key}}_minute" class="background-transparent text-align-left" type="number" placeholder="M." ng-model="minute" min="0" max="59" ng-maxlength="2">
     </div>
     <div class="col-time label">
         <span>hrs.</span>
     </div>
  </div>